*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lesson2/nbproject/private/
/Lesson2/build/
/Lesson2/dist/
/MOOCData/build/
/MOOCData/dist/
/Lesson3/build/
/Lesson3/dist/
/Lesson4/build/
/Lesson4/dist/
/VisualClient/build/
/VisualClient/dist/